.Grid {
  position: relative;
  width: 480px;
  height: 480px;
  margin-top: 16px;
  padding: 0px;
  float: left;
}

.Grid__row {
  clear: both;
  padding: 0px;
  margin: 0px;
  zoom: 1; /* For IE 6/7 */
  height: 10%;
}

.Grid__row:before,
.Grid__row:after {
  content: '';
  display: table;
}
.Grid__row:after {
  clear: both;
}

.Grid__col {
  display: block;
  margin: 0px;
  padding: 0px;
  float: left;
  width: 10%;
  height: 100%;
}
