/*
 * Copyright 2017 The boardgame.io Authors
 *
 * Use of this source code is governed by a MIT-style
 * license that can be found in the LICENSE file or at
 * https://opensource.org/licenses/MIT.
 */

.board {
  border-collapse: collapse;
  margin: 20px;
}

#winner {
  margin-top: 25px;
  width: 168px;
  text-align: center;
}

td {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  color: #555;
  width: 50px;
  height: 50px;
  line-height: 0px;
  border: 3px solid #aaa;
  background: #fff;
}

td.active {
  cursor: pointer;
  background: #eeffe9;
}

td.active:hover {
  background: #eeffff;
}
